/* @font-face {
    font-family: 'Baskervville';
    src: url('./fonts/Baskervville-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
/* }  */

@page {
    size: 8.5in 11in;
    margin: 0.5cm;
}

:root {
    --accent:           #f45042;
    --grid-separator:   #dbdbdb;
    --top-margin:       10px;
}


body {
    margin: 0px 40px;
    /* font-family: "Adobe Caslon Pro", "Minion Pro", serif; */
    font-family: "Baskervville", "Minion Pro", serif;
    font-size: 12pt;
}

header {
    font-family: "Trajan Pro", serif;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
}

header h1 {
    font-family: 'Playfair Display SC';
    font-size: 40pt;
    letter-spacing: 2pt;
    border-bottom: 1px solid var(--accent);
    margin-bottom: 4px;
    margin-top: var(--top-margin);
}

header span {
    font-family: "Baskervville";
    font-weight: bold;
    font-size: 12pt;
}

header span.gc-cs-link { /* extra styling for Google Voice extension auto highlighting */
    text-decoration: none;
    color: black;
}

section h2 {
    font-family: "Trajan Pro", serif;
    text-transform: uppercase;
    font-size: 12pt;
    margin-bottom: 0px;
}

section h2, .role, {
    text-transform: uppercase;
}

section .role {
    font-size: 11pt;
    font-family: "Baskervville";
    text-transform: uppercase;
}

section p {
    /* margin-left: 40px; */
}

section[id="cover letter"] {
    margin-top: 80px;
}

ul {
    list-style-type: square;
    color: var(--accent);
    margin: 0px 10px;
}

ul.nobullets {
    list-style-type: none;
}

li span {
    color: black;
}

.bold {
    font-weight: bold;
    margin-right: 5px;
}

.divtable {
    display: table;
    margin-left: 20px;
    width: 100%;
}

section {
    margin-left: 10px;
    margin-bottom: 5px;
    /*background-color: yellow;*/
}

.job:not(:first-child) {
    margin-bottom: 10px;
}

#skills_grid {
    display: grid;
    position: relative;
    padding: 15px 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 80px;
    /* grid-gap: 20px; */
    grid-template-areas: 
        "backend frontend"
        "media interests";
    justify-items: middle;
    align-items: middle;
}

#quad1, #quad3 {
    justify-self: end;
}

#quad1, #quad2 {
    align-self: end;
}

#quad3, #quad4 {
    align-self: start;
}

#skills_grid ul {
    font-size: 11px;
    padding: 0px;
    list-style-position: inside;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    width: 350px;
    
}

#skills_grid .label {
    position: absolute;
    font-family: 'Baskervville';
    text-transform: uppercase;
    color: var(--accent);
    margin-bottom: 0px;
}

#quad1 .label, #quad2 .label {
    top: 0;
}

#quad3 .label, #quad4 .label {
    bottom: 0px;
}

#quad1 .label, #quad3 .label {
    left: 0;
}

#quad2 .label, #quad4 .label {
    right: 0;
}

#quad1, #quad3 {
    border-right: 3px solid var(--grid-separator);
}

#quad1, #quad2 {
    border-bottom: 3px solid var(--grid-separator);
    vertical-align: bottom;
}

.table {
    display: table;
    margin-left: 20px;
}

.tablerow {
    display: table-row;
}

.right {
    display: table-cell;
    text-align: right;
    font-style: italic;
}

.github {
    position: absolute;
    top: 0;
    right: 38px;
    font-family: "Baskervville";
    font-size: 24px;
    color: var(--grid-separator)
}

.github img {
    width: 32px;
    vertical-align: top;
    transform: translateX(8px);
    opacity: 0.5;
}

#githubUsername {
    color: var(--accent);
    opacity: 0.5;
}

.company {
    font-family: 'Baskervville';
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
}

.location {
    font-style: italic;
    margin-left: 10px;
}

.cell {
    display: table-cell;
}

.onlinecell {
    font-style: italic;
    padding-right: 10px;
}

.urlcell {
    display: table-cell;
    letter-spacing: 1px;
}

.pagebreak {
    page-break-before: always;
}

#salutation {
    margin-bottom: 30px;
}

.row {
    display: flex;
    justify-content: flex-end;
}

.date {
    margin-top: 30px;
}

#valediction {
    margin-top: 40px;
}


#signature {
    width: 150px;
    /* margin-left: 35px; */
}
